# Checkpoint weights
*.pt
experiments/checkpoints/
checkpoints/

# Python cache
__pycache__/
*.pyc

# Cached embeddings
data/cached_embeddings/
.venv/

# Dataset images
data/spatial_mqa/images/
data/COCO2017/
data/relevant_images/

# Frontend builds & node_modules
visualizer/node_modules/
visualizer/dist/